:root {
  --accent-color: #2196f3;
  --logo-color: #000;
  --text-color: #212121;
  --addtext-color: #757575;
  --title-color: #ffffff;
  --footer-namber: rgba(255, 255, 255, 0.6);
  --footr-backround: #2f303a;
  --team-backround: #f5f4fa;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  /* outline: solid red; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* font-family: "Roboto", sans-serif; */
/* font-family: "Releway", sans-serif; */



.header-logo {
  color: var(--logo-color);
  font-family: "Releway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
  margin-right: 93px;
}

.header-span {
  color: var(--accent-color);
  font-family: "Releway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.nav-list {
    display: flex;
    gap: 50px;
}

.header-list {
    display: flex;
    gap: 50px
}

.nav-link {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.active {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header {
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom:2px solid #ECECEC; ;
}

.box {
    display: flex;
    align-items: center;
}

.header-nav {
    margin-right: auto;
}

.header-link {
  color: var(--addtext-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--footr-backround);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--title-color);
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.hero-button {
  color: #fff;
  background-color: var(--accent-color);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.96px;
  padding-top: 10px;
  padding-bottom: 10px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.skills-list {
    display: flex;
    gap: 30px;
}

.skills-item::before {
  content: "";
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--team-backround);
  display: block;
  margin-bottom: 30px;
  background-image: url(../imeges/antenna\ \(1\).png) ;
  background-repeat: no-repeat;
  background-position: center;
}

.skills-item:nth-child(2)::before {
  background-image: url(../imeges/clock\ 2.png);
}

.skills-item:nth-child(3)::before {
  background-image: url(../imeges/diagram\ 3.png);
}

.skills-item:nth-child(4)::before {
  background-image: url(../imeges/astronaut\ 4.png);
}



.skills {
    padding-top: 94px;
}

.skills-title {
  color: var(--text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
    margin-bottom: 10px;
}

.skills-desc {
  color: var(--addtext-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}

.work {
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list {
    display: flex;
    gap: 30px;
}
.work-title {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
 margin-bottom: 50px;
}
.team {
  background-color: var(--team-backround);
  padding-top: 94px;
  padding-bottom: 94px;

}



.team-list {
    display: flex;
    gap: 30px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}



.team-tittle {
  color: var(--text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.team-img {
    width: 270px;
}
.team-box {
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.team-caption {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
}

.team-desc {
  color: var(--addtext-color);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
}


.footer {
  background-color: var(--footr-backround);
  padding-top: 60px;
  padding-bottom: 60px;
}


.footer-link {
  color: var(--title-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer-span {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  
}
.footer-address {
  margin-top: 20px;
}
.address-link {
  color: var(--title-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
.footer-list {
    margin-top: 9px;
}

.footer-item {
    margin-bottom: 9px;
}

.footer-item:last-child {
    margin-bottom: 0px;
}


.footer-nummber {
  color: var(--footer-namber);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: 0.42px;
}
/* сторінка портфоліо */



.portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
}

.button-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.button-btn {
  color: var(--text-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62; /* 162.5% */
  letter-spacing: 0.48px;
  padding-top: 6px;
  padding-bottom: 6px;
    padding-right: 22px;
    padding-left: 22px;
    border-radius: 4px;

  
}


.button-btn:hover,
.buttun-btn:focus {
  color: var(--title-color);
  background-color: var(--accent-color);
}
.card-list {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.card-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
}
.card-title {
  color: var(--text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2; /* 200% */
  letter-spacing: 1.08px;
  padding-bottom: 4px;
}
.card-desc {
  color: var(--addtext-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87; /* 187.5% */
  letter-spacing: 0.48px;
}

.card-item {
  border: 1px solid #EEE;
flex-basis: calc((100% - 60px) / 3)
border-radius: 0px 0px 4px 4px;
}


.card-img {
  width: 100%
}

.skills {
  /* background-color: greenyellow; */
}
