.footer {
  background-color: $footr-backround;
  padding-top: 60px;
  padding-bottom: 60px;

  & > .container {
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: first baseline;

      @media screen and (min-width: 480px) {
        align-items: first baseline;
      }

      @media screen and (min-width: 768px) {
        text-align: center;
      }

      @media screen and (min-width: 1200px) {
        text-align: left;
        flex-wrap: nowrap;
      }
    }
  }

  &__addresss {
    // display: flex;
    @include flex-box ($wrap:nowrap,$direction:start,$justify:start,$align:start);
  }

  &__list {
    width: 231px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) {
      text-align: center;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
    }
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__logotype {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $title-color;
  }
  &__Web {
    color: $accent-color;
  }

  &__link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: $title-color;
  }

  &__mailtro {
    margin-top: 9px;
    margin-bottom: 9px;
  }

  &__mailtro:last-child {
    margin-bottom: 0;
  }

  &__contain {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
    color: rgba(255, 255, 255, 0.6);

    &:hover {
      color: steelblue;
    }
  }

  &__second {
    margin-top: 60px;
    text-align: center;

    @media screen and (min-width: 480px) {
      text-align: center;
    }

    @media screen and (min-width: 768px) {
      text-align: center;
      margin-left: 165px;
      margin-top: 0;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;
      margin-left: 70px;
    }
  }

  &__join {
    color: #fff;
    font-family: Roboto;
    font-style: normal;
    font-size: 14px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__wrap {
    gap: 10px;
    // display: flex;
    // justify-content: center;
    @include flex-box ($wrap:nowrap,$direction:start);
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      justify-content: flex-start;
    }
  }

  &__buttont {
    background-color: rgba(255, 255, 255, 0.1);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    @include flex-box ($wrap:nowrap,$direction:start);
    width: 44px;
    height: 44px;
    padding: 0.35em;
    border-radius: 50%;
    transition-property: $accent-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border: none;
      // outline: 0px solid $additional-accent;
      background-color: $accent-color;
    }
  }

  &__online {
    height: 20px;
    width: 20px;
    fill: $title-color;
  }

  &__form {
    text-align: center;
    margin-top: 60px;

    @media screen and (min-width: 768px) {
      display: block;
    }

    @media screen and (min-width: 1200px) {
      text-align: left;

      margin-left: 93px;
      margin-top: 0;
    }
  }

  &__button {
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__subscribe {
    margin-bottom: 20px;
    color: #fff;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }

  &__forms {
    display: block;

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }

  &__input {
    width: 100%;
    height: 50px;
    color: white;
    padding-left: 16px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    outline: 2px solid rgba(0, 0, 0, 0);
    outline-offset: -1px;
    transition: outline var(--anim-fast);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

    @media screen and (min-width: 768px) {
      width: 450px;
    }

    @media screen and (min-width: 1200px) {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
      border-radius: 4px;
    }
  }

  &__input:hover,
  &__input:focus {
    outline-color: #2196f3;
  }

  &__flexing {
    // display: flex;
    // justify-content: center;
    @include flex-box ($wrap:nowrap,$direction:start);
    margin-top: 20px;

    @media screen and (min-width: 480px) {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }

    @media screen and (min-width: 1200px) {
      display: block;
      margin-top: 0;
      justify-content: flex-start;
    }
  }

  &__buttonlink {
    margin-left: 12px;
    gap: 10px;
    padding: 10px 28px;
    border: none;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px; /* 187.5% */
    letter-spacing: 0.96px;
    // display: flex;
    // align-items: center;
    @include flex-box ($wrap:nowrap,$direction:start,$justify:start);
    border-radius: 4px;
    background: #2196f3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: rgb(4, 121, 168);
      /* background-color: deepskyblue; */
    }
  }

  &__telegram {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    fill: #fff;
  }
}
