.skills {
  padding-top: 94px;

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item::before {
    content: "";
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background-color: $team-backround;
    display: block;
    margin-bottom: 30px;
    background-image: url(../imeges/antenna\\1\.png);
    background-repeat: no-repeat;
    background-position: center;

    &:nth-child(2)::before {
      background-image: url(../imeges/clock\ 2.png);
    }

    &:nth-child(3)::before {
      background-image: url(../imeges/diagram\ 3.png);
    }

    &:nth-child(4)::before {
      background-image: url(../imeges/astronaut\ 4.png);
    }
  }

  &__title {
    /* color: var(--text-color); */
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  &__desc {
    color: $addtext-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71; /* 171.429% */
    letter-spacing: 0.42px;
  }
}

