

.work {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
  display: none;
    @media screen and (min-width: 1200px) {
        display: block;
    
      }

    &__title {
        /* color: var(--text-color); */
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
       margin-bottom: 50px;
       text-shadow: 
       0 0 10px cyan,
       0 0 20px cyan,
       0 0 40px cyan,
       0 0 80px cyan;
    }

    &__list {
        display: flex;
        gap: 30px;
    }

    &__item {
        position: relative;
        // background-size: cover;
        // transition: 1s;
        cursor: pointer;
        overflow: hidden;
    }
    

    &__image {
        object-fit: cover;
        transition: 1s ease;

        &:hover {
            transform: scale(1.4);
        }
    }
    // &__list &__item:hover  {
    //     opacity: 1;
    //     filter: blur(0);
    //     transform: scale(1.4);
    // }

    // &__list &__item:hover  {
    //     opacity: 1;
    //     filter: blur(0);
    //     transform: scale(1.4);
    // }

    &__position {
        width: 370px;
        height: 70px;
        flex-shrink: 0;
          color: white;
          position: absolute;
          bottom: 0;
          background: rgba(47, 48, 58, 0.80);
          display: flex;
          justify-content: center;
          align-items: center;
    }

    &__transparent {
        color: #FFF;
       text-align: center;
       font-family: Roboto;
       font-size: 14px;
       font-style: normal;
       font-weight: 700;
       line-height: normal;
       letter-spacing: 0.42px;
       text-transform: uppercase;
       width: 100%;
      }
    
}






  

  




