body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    // padding-top: 85px;
    // background: url(https://media.giphy.com/media/6uVwL25uYHW92/giphy.gif?cid=ecf05e472x49xalfjkoyi0ruqrft8pl7ivuctzm3os4s1bsn&ep=v1_gifs_search&rid=giphy.gif&ct=g); 
    // background-size: cover; 
    // background-position: center; 
    // background-clip: text; 
    // color: transparent;


//     transition:  background-color .4s, color .4s;
//     background-color: white;
//     animation: slideIn 1s ease-out;
//     @keyframes slideIn {
//         from {
//           transform: translateX(-100%);
//         }
//         to {
//           transform: translateX(0);
//         }
//       }
    
    
}
  
.cursor {
    position: absolute;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #11d5f1;
    animation: move 6s infinite alternate;
    display: none;

    @media screen  and (min-width: 1200px){
        display: block;
    }
}
  
  
@keyframes move {
    0% {
      box-shadow: 0 0 10px 2px #11d5f1;
    }
    100% {
      box-shadow: 0 0 20px 8px #11d5f1;
    }
}

.arrow__up {
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    @media screen and (min-width: 1200px) {
      display: block;
    }
    
}

.arrow__up .arrow__hoh{
    width: 50px;
    height: 50px;
    background-color: #2196F3;
    text-align: center;
    display: block;
    justify-content: center;
    line-height: 50px;
    border-radius: 50%;
    border: 3px solid aqua;
}
  

  
.arrow__up .arrow__hoh:hover {
    background-color: aqua;
    color: white;
    transition: all .5s;
}

.night-theme-btn {
    position: fixed;
    right: 35px;
    top: 115px;
    border: none;
    outline: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(53, 203, 233, 0.5);
    transition: filter .4s, background-color .4s;
    cursor: pointer;
    
}

.night-theme-btn:hover {
    filter: brightness(120%);
}

.night-theme-btn:active {
    filter: brightness(80%);
}


.night-theme-btn__icon {
    position: absolute;
    left: 18%;
    top: 20%;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: opacity .15s;
}

.night-theme-btn__icon_moon {
    opacity: 1;
}





body.night-theme {
    background-color: black;
    color: white;
    
}


body.night-theme .night-theme-btn {
    background-color: rgba(223, 211, 80, 0.5);
}

body.night-theme  .night-theme-btn__icon_moon {
    opacity: 0;
}

body.night-theme  .night-theme-btn__icon_sun {
    opacity: 1;
}




.webteh {
    background-color: transparent;
}