 
    $accent-color: #2196f3;
    $logo-color: #000;
    $text-color: #212121;
    $addtext-color: #757575;
    $title-color: #ffffff;
    $footer-namber: rgba(255, 255, 255, 0.6);
    $footr-backround: #2f303a;
    $team-backround: #f5f4fa;
  